/* @import url('https://fonts.googleapis.com/css2?family=Monda:wght@400;700&family=Mulish:wght@200;300;400;500;600;700;800;900&family=Play:wght@400;700&family=Quicksand:wght@300;400;500;600;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&display=swap');

html, body{
	padding: 0;
	margin: 0;
	cursor: default;
	font-family: Mulish, sans-serif;
	overflow: hidden; /*temporary remove afterwards*/
}

/* Main Header */
.main-header{
	width: 100%;
	height: 300px;
	background: #d5ac0e;
	color: #fff;
	display: grid;
	place-items: center;
	margin-bottom: 50px;
}

.main-header-content{
	max-width: 500px;
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 4fr;
}

.brand-info{
	text-align: center;
	display: grid;
	place-content: center;
}

.brand-name{
	font-size: 3rem;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-shadow: 0px 3px 12px rgba(0, 0, 0, 0.3);
	margin-bottom: 1rem;
}

.brand-motto{
	font-size: 10px;
	letter-spacing: 3px;
	font-weight: 300;
	text-transform: uppercase;
}

/* Search */
.search-comp{
	width: 95%;
	height: 70px;
	background: #fff;
	border-radius: 3px;
	transform: translateY(-90px);
	-webkit-transform: translateY(-90px);
	padding: 10px;
	box-shadow: 0px 3px 12px rgba(70, 70, 70, 0.3);
}

/* Home Products */
.app-cover{
	padding: 10px;
}

.productsbx{
	padding-bottom: 40px;
}

.product-cate-title{
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: rgba(70, 70, 70, 0.7);
	padding: 12px 0px;
	position: relative;
}

.product-cate-title:after{
	content: '';
	width: 50px;
	height: 2px;
	border-radius: 10px;
	background: rgba(70, 70, 70, 0.7);
	position: absolute;
	top: 40px;
	left: 0;
}

.product-list{
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-column-gap: 20px;
	grid-row-gap: 42px;
	margin-bottom: 40px;
}

.product-item{
	text-align: center;
	position: relative;
}

.product-image{
	margin-bottom: 12px;
	height: 254px;
	border-radius: 1rem;
}

.product-image img{
	transition: 0.3s;
}

.product-item:hover .product-image img{
	transform: scale(0.8);
	-webkit-transform: scale(0.8);
	
}

.product-name{
	text-transform: uppercase;
	font-size: 13px;
	letter-spacing: 0.5px;
	font-weight: bold;
	margin-bottom: 7px;
}

.product-price{
	font-size: 13px;
	/* font-family: sans-serif; */
	margin-bottom: 7px;
	letter-spacing: 0.5px;
}

.product-discount{
	position: absolute;
	top: 10px;
	left: -10px;
	padding: 10px;
	font-size: 12px;
	background: #d80112;
	color: #fff;
	border-radius: 50px;
}

.button{
	border: none;
	padding: 15px 25px;
	border-radius: 3px;
	display: table;
	cursor: pointer;
}
.button:hover{
	box-shadow: 0px 15px 22px -1px rgba(0, 0, 0, 0.7);
}

.load-products{
	margin: auto;
	background: #333;
	color: #f3f3f3;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 1px;
}


/* Product Details */
.overlay{
	width: 100%;
	height: 100%;
	min-height: 500px;
	position: fixed;
	top: 0px;
	left: 0px;
	/* background: rgba(170, 170, 170, 0.7); */
	background: #fff;
	overflow-y: auto;
}

.product-detailsbx{
	padding: 20px;
	padding-top: 70px;
}

.app-paper{
	background: #fff;
	border-radius: 5px;
	/* box-shadow: 0px 3px 22px rgba(0, 0, 0, 0.3); */
}

/* modal controls */
.app-modal-bx{
	padding: 12px 0;
	margin-bottom: 20px;
}

.back-ctrl{
	text-transform: uppercase;
	font-size: 10px;
	letter-spacing: 1px;
	padding-left: 32px;
	background-image: url(../ico/left-arrow.png);
	background-size: 22px;
	background-position: left;
	background-repeat: no-repeat;
	cursor: pointer;
}

.product-main-info{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	margin-bottom: 30px;
}

/* left */
.product-pics{
	/* height: 450px; */
}

.product-view-pic{
	text-align: center;
	margin-bottom: 20px;
}

.product-view-pic img{
	height: 450px;
	border-radius: 3px;
}

.product-other-pics{
	display: table;
	margin: auto;
}

.product-thumbnail{
	width: 50px;
	height: 50px;
	float: left;
	margin: 10px;
	border: 1px solid rgba(0, 0, 0, 0.3);
	border-radius: 5px;
	padding: 4px;
	box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.3);
	cursor: pointer;
}

.thumbnail-selected{
	box-shadow: 0px 3px 12px orangered !important;
}

/* right */
.product-summarybx{
	padding: 20px;
	padding-top: 120px;
}

.product-var{
	margin-bottom: 12px;
	line-height: 1.5em;
}

.add-wishlist{
	width: 40px;
	height: 40px;
	border: 1px solid rgba(0, 0, 0, 0.07);
	border-radius: 50%;
	box-shadow: 0px 1px 22px -6px rgba(0, 0, 0, 0.3);
	margin-bottom: 30px;
	background-image: url(../ico/wishlist-add.png);
	background-size: 20px;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
}

.added-wishlist{
	background-image: url(../ico/wishlist-added.png) !important;
}

.product-detail-price{
	font-size: 25px;
}

.btn-add-cart{
	width: 100%;
	max-width: 300px;
	text-transform: uppercase;
	background: #333;
	color: #f5f5f5;
	letter-spacing: 1px;
}

.product-subinfo-area{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-column-gap: 24px;
}

.product-dimensions{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-column-gap: 14px;
}

.app-h3{
	text-transform: uppercase;
	font-size: 20px;
	color: rgba(0, 0, 0, 0.7);
	letter-spacing: 1px;
}

.product-text{
	line-height: 2em;
	font-size: 12px;
	letter-spacing: 0.5px;
}

.product-action-bx .add-wishlist{
	display: none;
}


/* Cart */
.product-quantitybx{
	max-width: 120px;
	width: 100%;
	height: 33px;
	display: grid;
	grid-template-columns: repeat(3, calc(100%/3));
	margin-bottom: 23px;
	border-radius: 5px;
	box-shadow: 0px 3px 22px -6px rgba(0, 0, 0, 0.3);
}

.quantity-ctrl{
	text-align: center;
}

.inputbx{
	border: none;
	/* border: 1px solid rgba(0, 0, 0, 0.07); */
}

.quantity-number{
	height: 100%;
	background: #fff;
	border-radius: 3px;
}

.quantity-dec{
	font-size: 20px;
	line-height: 1.2em;
	font-weight: 700;
	border-right: 1px solid rgba(0, 0, 0, 0.07);
	cursor: pointer;
}
.quantity-inc{
	font-size: 18px;
	line-height: 1.5em;
	font-weight: 700;
	border-left: 1px solid rgba(0, 0, 0, 0.07);
	cursor: pointer;
}



/* Footer */
.footer{
	display: grid;
	place-items: center;
	padding: 20px;
	font-size: 12px;
	background: #ededed;
	color: rgba(0, 0, 0, 0.3);
}











/* Responsive Styles */
@media screen and (max-width: 1199px){
	.product-list{
		grid-template-columns: repeat(4, 1fr);
	}
}

@media screen and (max-width: 1013px){
	.product-list{
		grid-template-columns: repeat(3, 1fr);
	}
}

@media screen and (max-width: 999px){
	.product-main-info{
		max-width: 700px;
		margin: auto;
		grid-template-columns: repeat(1, 1fr);
	}

	.product-dimensions{
		grid-template-columns: repeat(1, 1fr);
	}

	.product-view-pic img{
		width: 100%;
		height: unset !important;
	}

	.product-summarybx{
		padding-top: 30px;
		text-align: center;
	}

	.product-action-bx{
		width: 100%;
		height: 60px !important;
		padding: 10px;
		padding-left: 20px;
		/* display: table; */
		position: fixed;
		background: #fff;
		left: 0;
		bottom: 0;
		box-shadow: 0px -3px 22px rgba(0, 0, 0, 0.3);
	}

	.product-action-bx .add-wishlist{
		display: block;
		float: left;
	}

	.product-summary-ctrl .add-wishlist{
		display: none;
	}

	.product-action-bx .btn-add-cart{
		float: right;
	}
}

@media screen and (max-width: 720px){
	.product-subinfo-area{
		grid-template-columns: 1fr;
		padding-bottom: 90px;
	}
}

@media screen and (max-width: 652px){
	.product-list{
		grid-template-columns: repeat(2, 1fr);
	}

	.product-image{
		height: 200px;
	}
}

@media screen and (max-width: 480px){
	.product-action-bx .btn-add-cart{
		max-width: 200px;
	}
}

/* End of Responsive Styles */